.ControlPanel {
    
    
}


.ControlPanel .redButon {
    background-color: red;
}

.ControlPanel .yellowButon {
    background-color: yellow;
}

.ControlPanel .greenButon {
    background-color: green;
}