.Status {
    
}

.Status textarea {
    height:100%; 
    /*width:100%; */
    margin: 5px;
    font-family: monospace; 
    font-size: 12px; 
    /*font-weight: bold;*/
    outline: none;
} 

.Status .map-container {
    width: 100%;
    height: 200px;
}

.Status .map {
    background-image: url(modules/Status/htdocs/plan_100_new.png); 
}
