.Status {
    
}

.Status textarea {
    height:100%; 
    /*width:100%; */
    margin: 5px;
    font-family: monospace; 
    font-size: 12px; 
    /*font-weight: bold;*/
    outline: none;
} 

.Status .map-container {
    width: 100%;
    height: 200px;
}

.Status .map {
    /*background-image: url(../modules/Status/htdocs/plan_100_new.png); */
    position: relative;
    background-size: contain;
    background-repeat: no-repeat;
}
.Status .map-image {
    width: 100%;
    /*visibility: hidden;*/
}

.Status .map-controls {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}

.Status .map-control-container {
    top: 30%;
    left: 79%;
    position: absolute;
    
    width: 0px;
    height: 0px;
    /*background-color: red;*/
    font-size: 3vw;
    
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.Status .map-control {
    
}