.DeviceStorage {
    
    
}

.DeviceStorage .redButon {
    background-color: red;
}

.DeviceStorage .yellowButon {
    background-color: yellow;
}

.DeviceStorage .greenButon {
    background-color: green;
}