.RemoteConsole {
    
}

.RemoteConsole .inputText1 {
    height:5in; 
    width:100%; 
    font-family: monospace; 
    font-size: 16; 
    font-weight: bold;
}


.RemoteConsole .outputText1 {
    height:5in; 
    width:100%; 
    font-family: monospace; 
    font-size: 16; 
    font-weight: bold;
}

.RemoteConsole textarea {
    height:100%; 
    width:100%; 
    font-family: monospace; 
    font-size: 16px; 
    font-weight: bold;
    outline: none;
}

